.about {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #313132;
    padding: 0.4rem;
    position: relative;
    height: 60vh;
    margin: 2rem;
}
.content-box {
    width: 40%;
    text-overflow: clip;
    text-transform: capitalize;
}
.box {
    background-color: #f5f5f7;
    color: black;
    height: 43vh;
    width: 40%;
    padding: 0.75rem;
    border-radius: 14px;
    margin-top: -10rem;
    margin-left: 1rem;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
                0 -2px 4px rgba(0, 0, 0, 0.3);
}
.line {
    background-color: black;
    height: 80%;
    border-radius: 14px;
    display: inline-block;
    margin-right: 0.3rem;
}