.contact {
    padding: 2rem;
    position: relative;
}
.contactbox {
    float: left;
    width: 50%;
    margin-right: 65px;
}
.form {
    float: left;
    width: 40%;
}
.form input,
.form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 0;
    border-bottom: 2px solid #f5f5f7;
    margin-bottom: 5px;
}

.form input:focus {
    background-color: #fff;
}

.footer {
    border-top: 2px solid #fff;
    width: 99%;
    float: left;
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .contact {
        padding: 1rem;
    }
    .contactbox {
        display: none;
    }
    .form {
        width: 100%;
    }
    .footer {
        font-size: 15px;
    }
}
@media (min-width: 600px) {
    .contact {
        padding: 2rem;
        position: relative;
    }
    .contactbox {
        float: left;
        width: 50%;
        margin-right: 65px;
    }
    .form {
        float: left;
        width: 40%;
    }
}
