.main {
    height: 80vh;
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    align-items: flex-start;
}
.contentbox {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-top: 3rem;
    text-overflow:clip;
    text-transform: capitalize;
    font-family: 'IBM Plex Mono';
}
.contentbox a {
    color: #fff;
}
.btn-sec {
    cursor: pointer;
    background-color: transparent;
    color: #4c7af2;
    width: 50%;
    border: 0;
    font-weight: 800;
    text-transform: capitalize;
    text-decoration: underline;
    letter-spacing: 0.24rem;
}
.btn-sec:hover {
    text-decoration: none;
}
.photog {
   width: 100%;
   margin-top: 3rem;
   height: 100%;
   text-align: center;
}
.photog img {
    width: fit-content;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgb(46, 45, 45);
}

@media (max-width: 768px) {
    .main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        justify-content: space-around;
    }
    .contentbox {
        width: 100%;
        display: inline-block;
        text-align: center;
        text-overflow:clip;
        text-transform: capitalize;
        font-family: 'IBM Plex Mono';
    }
    .btn-sec {
        width: 100%;
    }
    .photog {
        margin-top: 9rem;
    }
    .photog img {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .main {
        height: 90vh;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1rem;
        justify-content: space-around;
    }
    .contentbox {
        width: 100%;
        display: inline-block;
        text-align:start;
        text-overflow:clip;
        text-transform: capitalize;
        font-family: 'IBM Plex Mono';
        margin: 200px 0;
    }
    .btn-sec {
        width: 40%;
    }
    .photog {
        margin-top: 8rem;
        margin-right: 1rem;
    }
    .photog img {
        width: 80%;
    }
}
@media (min-width: 992px) {
    .main {
        height: 100vh;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1rem;
        justify-content: space-around;
    }
    .contentbox {
        width: 100%;
        display: inline-block;
        text-align:start;
        text-overflow:clip;
        text-transform: capitalize;
        font-family: 'IBM Plex Mono';
    }
    .photog img {
        width: 70%;
        margin-top: -1rem;
    }
}