.main {
    height: 80vh;
    display: flex;
    width: 100%;
    padding: 4rem;
    justify-content: space-between;
    align-items: flex-start;
}
.contentbox {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-top: 2rem;
    text-overflow:clip;
    text-transform: capitalize;
    font-family: 'IBM Plex Mono';
}
.photog {
   width: 100%;
   margin-top: 2rem;
   padding: 3rem;
   height: 100%;
   text-align: center;
}