.navbar {
    background-color: #313132;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .125rem 2rem;
    box-shadow: 0 2px 4px rgba(3, 0, 0, 0.6);
}
.logo {
    width: 30%;
    text-align: first;
}
.logo img {
    width: 26%;
}
.links {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
.links a {
    color: #fff;
    letter-spacing: 0.17rem;
}
.links a:hover {
    color: rgba(255, 255, 255, 0.719);
}