.projects {
    padding: 3rem;
    position: relative;
    background-color: #fff;
    height: fit-content;
}
.title {
    width: 12%;
    font-size: 20px;
    border-bottom: 2px solid #313132;
}
.boxs {
   display: grid;
   height: fit-content;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 300px 300px;
   grid-template-areas: "A B C" 
                        "D f E";
   grid-gap: 45px; 
}
.boxOne {
    grid-area: B;
}


@media (max-width: 600px) {
    .title {
        font-size: 18px;
    }
    .boxs {
        display: flex;
        flex-direction: column;
    }
    .boxOne {
        display: none;
    }
}
@media (min-width: 768px) {
    .projects {
        font-size: 19px;
    }
    .title {
        margin-left: 1rem;
        text-transform: capitalize;
    }
}
