.skills {
    padding: 2rem;
    position: relative;
    height: 60vh;
    background-color: #fff;
    margin: 2rem;
    animation: left-to-right 2s ease-in forwards 4s;
    transition: animation 1s ease-in;
}
.title {
    width: 12%;
    font-size: 20px;
    border-bottom: 2px solid #313132;
}
.icons {
    width: 50%;
    float: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-right: 45px;
}
.icon {
    color: #4c7af2;
    text-align: center;
    box-shadow: 4px 2px 4px rgba(34, 4, 4, 0.2),
                -4px -2px 6px rgb(255, 255, 255, 0.6);
    border-radius: 50px;
}
.content {
    float: left;
    width: 40%;
}
.content .icons {
    width: 100%;
    float: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-right: 45px;
}
.content .icon {
    color: #4c7af2;
    text-align: center;
    box-shadow: 4px 2px 4px rgba(34, 4, 4, 0.2),
                -4px -2px 6px rgb(255, 255, 255, 0.6);
    border-radius: 50px;
}
.content a {
    color: #fff;
}
.tooltiptext {
    visibility: hidden;
    width: 10%;
    background-color: rgb(255, 255, 255);
    color: #000;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    text-transform: capitalize;
}
.icon:hover .tooltiptext {
    visibility: visible;
}
@media (max-width: 600px) {
    .skills {
        padding: 1rem;
        height: 50vh;
        margin: 3rem;
        background-color: #fff;
    }
    .icons {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    .icon {
        font-size: 12px;
    }
    .content {
        display: none;
    }
}
@media (min-width: 600px) {
    .skills {
        padding: 2rem;
        height: 100vh;
        background-color: #fff;
    }
    .icons {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-right: 45px;
    }
    .content {
        width: 100%;
    }
}
@media (min-width: 768px ) {
    .skills {
        padding: 1rem;
        height: 80vh;
        margin: 2rem;
        background-color: #fff;
    }
    .title {
        margin-left: 2rem;
    }
    .icons {
        width: 40%;
        float: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-right: 45px;
    }
    .content {
        float: left;
        width: 50%;
    }
}
@media (min-width: 992px ) {
    .skills {
        padding: 1rem;
        height: 80vh;
        margin: 2rem;
        background-color: #fff;
    }
    .icons {
        width: 50%;
        float: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-right: 45px;
    }
    .content {
        float: left;
        width: 40%;
    }
}
@keyframes left-to-right {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}